<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="scripts.caso0001_Validar_valor_rut_invalido"/>	
			<class name="scripts.caso0002_Rut_no_registrado_SalesForce"/>											
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
